{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
    <link href="{{ asset('css/Spec/add.css') }}" rel="stylesheet">
{% endblock %}

{% block nav %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="{{ path('spec') }}">Специалисты</a></li>
        <li class="active">{% if specId|default(false) %}Редактировать{% else %}Добавить{% endif %} специалиста</li>
    </ol>
{% endblock %}

{% block body %}
<div class="row bot20 top20">
    <div class="col-xs-12">
        <div id="formBack" class="col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-9 col-sm-12">
                    {{ form_start(specForm) }}

                    <div class="col-xs-12">
                        {% for message in app.flashes('errors') %}
                            <p class="flashSucess bg-danger">{{ message }}</p>
                        {% endfor %}

                        {% for message in app.flashes('success') %}
                            <p class="flashSucess bg-success">{{ message }}</p>
                        {% endfor %}
                    </div>

                    <div class="col-xs-12 form-group">
                        {{ form_label(specForm.name,'ФИО Специалиста') }}
                        {{ form_widget(specForm.name, { 'attr': {'class':'form-control'} }) }}
                    </div>

                    <div class="col-xs-12 form-group">
                        {{ form_label(specForm.body,'Описание, преимущества') }}
                        {{ form_widget(specForm.body, { 'attr': {'class':'form-control'} }) }}
                    </div>

                    <div class="col-xs-12 form-group">
                        <table id="tagsTbl" class="table table-hover text-center">
                            <tr class="nothover"><th>№</th><th>Тег</th><th style="width: 60px;"><div id="addBlockBut" data-toggle="modal" data-target="#modalServ" class="addBlockBut" title="добавить услугу"><span id="addNewTag" class="glyphicon glyphicon-plus"></span></div></th></tr>
                            {% set cnt = 0 %}
                            {% set exServ = [] %}

                            {% for serv in specForm.vars.data.serv %}
                                {% set cnt = cnt+1 %}
                                <tr class="tagEl">
                                    <td>{{ cnt }}</td>
                                    <td class="text-left">{{ serv.name }}</td>
                                    <td><span data-toggle="tooltip" data-placement="left" title="удалить услугу" class="delTag glyphicon glyphicon-trash" sid="{{ serv.id }}" exstag="1"></span></td>
                                </tr>

                                {% set exServ = exServ|merge([serv.id]) %}

                            {% endfor %}

                            <tr class="noneTags {% if cnt > 0 %} hide {% endif %}"><td colspan="3">Услуги не добавлены</td></tr>

                        </table>
                    </div>

                    <div class="col-xs-12 form-group hide">
                        <input type="hidden" id="specServJSON" name="specServJSON" value="{{ exServ|json_encode() }}">
                    </div>

                    <div id="imgFormWidget" class="col-xs-12 form-group {% if oldFileName is not null %} hide {% endif %}">
                        {{ form_label(specForm.img,'Фотография') }}
                        {{ form_widget(specForm.img) }}
                    </div>

                    {% if oldFileName is not null %}
                        <div id="imgFormView" class="col-xs-12 imgFormView form-group">
                            <span id="delImg" class="glyphicon glyphicon-trash" data-container="body" data-toggle="popover" data-placement="right" data-content="Для изменения фото удалите старое и добавте новое фото" data-trigger="hover"></span>
                            <img src="{{ asset('img/specs/'~oldFileName) }}" class="img-responsive img-rounded">
                        </div>
                    {% endif %}

                    <div class="col-xs-12 form-group">
                        {{ form_widget(specForm.save, {'label': 'Сохранить', 'attr': {'class':'btn btn-primary'} }) }}

                        {% if specId %}
                            <button data-toggle="modal" data-target="#modalDel" id="delServAtten" type="button" class="btn btn-danger delBtn" data-toggle="tooltip" data-placement="right" title="удалить специалиста"><span class="glyphicon glyphicon-trash"></span></button>
                        {% endif %}

                    </div>

                    {{ form_end(specForm) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include '@RecBundle/Serv/modalTbl.html.twig' with {'modalId':'modalServ','btnId':'setSpecServ','serv':serv} %}

{% if specId %}
    {% include '@RecBundle/Default/delModal.html.twig' with {'id':'modalDel','name':'специалиста','link' : path('specDel',{'specId':specId})} %}
{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Spec/add.js') }}"></script>
{% endblock %}